
@font-face {
    font-family: "roboto";
    src: url(Roboto-Thin.ttf);
}
@font-face {
    font-family: "sans";
    src: url(NotoSansKR-Regular.otf);
}
* {
    box-sizing: border-box;
    margin: 0px;
    font-family: "roboto";
    transform: rotate(0.003deg);
}

h1{
    font-family: "sans";
}

span,h4{
    color: white;
}

.main {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: aliceblue;
    background: url(https://images.unsplash.com/photo-1523712999610-f77fbcfc3843?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px;
}

.main__title {
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
    color: white;
}

.main__description {
    width: 100%;
    margin-top: 50px;
    margin-left: 15px;
    font-size: 20px;
    text-align: center;
}

.main__btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    text-align: center;
    align-self: center;
    margin-top: 100px;
    background-color: khaki;
    color: black;
    border-radius: 1.2rem;
    position: relative;
    cursor: pointer;
    position: absolute;
    bottom: 70px;
}

.main__btn:hover {
    transform: scale(1.2);
    border: 1px solid rgb(30, 76, 120);
}

.testbox{
    background-color: darkcyan;
    width: 80%;
    max-width: 600px;
    margin:auto;
    text-align: center;
    padding: 20px;
    position:relative;
    top: -40px;
    z-index: 1;
}

.testbox__title{
    font-size: 20px;
    margin: 20px 0px;
    
}
/* form section */

.contact{
    background-color: black;
    padding:30px;
    
}

.form__section{
    border: 1px solid black;
    font-size: 35px;
    position: relative;
    background-color: #eee;
    display: flex;
    width: 80%;
    max-width: 600px;
    margin: auto;
    flex-direction: column;
    height: 600px;
    padding: 20px 40px;
}
h1,h2,h3,h4,h5{
    color: black;
    font-weight: 320;
}
h2{
    font-weight: 500;
}
.email__section{
    font-size: 27px;
}

input{
    border-radius: 10px;
    border: 1px solid lightgray;
    height: 50px;
}
.form__input{
    width: 100%;
    height: 7vh;
    left: 0;
    right: 0;
    margin:auto;
    
}
.name__seciton{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 5vh;
    margin-bottom: 20px;
}
.left__section,.right__section{
    padding: 20px 0px;
    width: 50%;
    font-size: 27px;
}
.left__section{
    padding-right: 10px;
}
.right__section{
    padding-left: 10px;
}

.first__name,.last__name{
    width: 100%;
}
.message__section{
    margin-top: 50px;
    font-size: 27px;
}
.message__section textarea{
    height: 180px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.submit__section{
    display: flex;
    justify-content: space-between;
}
.btn__send{
    width: 20%;
    height: 40px;
    border: none;
    background-color: orange;
    color: white;
    border-radius: 10px;
    box-shadow: gray;
}
.checkbox__subscribe{
    display: flex;
    align-items: center;

}
.checkbox{
    background-color: rgb(55, 53, 53);
}
.subscribe{
    color: black;
    font-size: 15px;
    margin-left: 5px;
}
